# Создано с помощью https://www.gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Иконки, должны заканчиваться двумя \r
Icon


# Миниатюры
._*

# Файлы, которые могут появиться на внешнем диске
.Spotlight-V100
.Trashes

# Директории, которые могут быть созданы на удаленном сетевом диске AFP
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Python ###
# Скомпилированные в байт код / оптимизированные / DLL файлы
__pycache__/
*.py[cod]

# C расширения
*.so

# Распространение / упаковка
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# Обычно эти файлы записываются сценарием Python из шаблона
# до того, как PyInstaller создает exe, чтобы внедрить в него дату / другую информацию.
*.manifest
*.spec

# Журналы установки
pip-log.txt
pip-delete-this-directory.txt

# Отчеты о юнит-тестировании / покрытии
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Переводы
*.mo
*.pot

# Документация Sphinx
docs/_build/

# PyBuilder
target/


### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3
venv
.idea
KesKal/settings.py
